.test {
  font-size: 60px;
}

.background {
  background-color: aquamarine;
}

.ginormous {
  font-size: 150px;
  width: 50%;
  pointer-events: none;

  &.fun {
    background-color: rebeccapurple;
  }
}
