.test {
  background-color: aquamarine;
}

.overlayWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.overlayTop {
  left: 0;
  bottom: 0;
  top: 0;
  height: 80vh;
  width: 100vw;
}

.overlayBottom {
  top: 80vh;
  left: 0;
  width: 100vw;
  height: 20vh;
  pointer-events: all;
  opacity: 1;
  filter: blur(0px);
  transition: opacity 0.2s ease, blur 0.2s ease;

  &.isDrawing {
    pointer-events: none;
    opacity: 0.4;
    filter: blur(5px);
  }
}